:root {
    --background-color: #f7f3ee;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Inter;
    src: url('../Inter/Inter-VariableFont_opsz\,wght.ttf');
}

.navbar {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: #e6e2de;
    padding: 0.8rem;
    box-sizing: border-box;
}

.navbar-item {
    font-family: Inter, sans-serif;
    text-decoration: none;
    padding: 0.5rem;
}

#icon {
    margin-right: auto;
    padding: 0.5rem;
}
