:root {
    --background-color: #f7f3ee;
}

body {
    background-color: var(--background-color);
}
@font-face {
    font-family: Inter;
    src: url('../Inter/Inter-VariableFont_opsz\,wght.ttf');
}

.navbar {
    border: 1px solid rgb(253, 0, 0);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    font-family: Inter, sans-serif;
    text-decoration: none;
}

#icon {
    justify-self: flex-start;
}
